
/* TEMPORARILY HIDE SECTIONS
.shoppingList, .etchASketch, .rockPaperScissors {
    display: none !important;
}
*/

html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
}

body {
    background-color: #f5f3f7;
    font-size: 1.6rem;
    font-family: 'greycliff-cf', sans-serif;
    color: #1c1733;
}

h1, h2, h3, h4, h5 {
    font-family: 'quincy-cf', sans-serif;    
}

p, span, a {
    font-family: 'greycliff-cf', sans-serif;
    font-size: 1.6rem;
}

li {
    margin-bottom: 10px;
  }

  li button {
    margin-left: 1em;
  }

.btn {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
}

.btn-primary {
    background-color: #4d408f;
    color: #fff;
}

.btn-secondary {
    background-color: #17bfba;
}

.btn-tertiary {
    background-color: #fff;
}

.btn-primary:hover, .btn-primary::selection {
    background-color: #3e3372;
}

.btn-secondary:hover, .btn-secondary::selection {
    background-color: #139c98;
} 

.container.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    width: 100%;
    text-align: center;
}

.container.main.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2.3rem 0 2rem;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 3rem;
    background-color: #f5f3f7;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.nav a:hover, .nav a::selection {
    text-decoration: underline;
}