
html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
}

body {
    background-color: #f5f3f7;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'quincy-cf', sans-serif;    
}

p, span, a {
    font-family: 'greycliff-cf', sans-serif;
}